body {
    padding: 0;
    margin: 0;
}
div.outer{
        width: 1200px;
        height: 100vh;
        margin-top: 0px; 
        border: 1px solid #ccc;
        background-color: #eee; 
        margin-left: auto; 
        margin-right: auto;
        }
div.inner{
         border-radius: 50px;
        width: 900px;
        height: 850px;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        border: 3px solid #a2a295;
        background-color: #e6e6db;
            
        }
data.dataIn {
    display: flex;
    width: 650px;
    height: 100px;
    margin-top: 30px;
    margin-left: auto; 
    margin-right: auto;    
    border: 3px solid #a2a295;
    border-radius: 10px;    
}

.inputIN, .boxSelect, .buttonStart {
    margin-top: 15px;
    font-size: 20px;
}

.inputIN {
    width: 300px;
    height: 60px; 
    margin-left: 20px;
    border-radius: 10px 0 0 10px; /* скруглюємо ліві кути*/   
}

.boxSelect {
    width: 100px;
    height: 66px; 
    margin-left: auto;
   
}
.buttonStart {
     width: 180px;
     height: 66px; 
    margin-left: auto;
    margin-right: 20px;
    border-radius: 0 10px 10px 0; /* скруглюємо праві кути*/
}

.choice_paint {
    display: block;
    width: 30%;
    height: 400;
	
    position: relative;
	top: 30px;
    margin-left: 50px;
    
        
    border: 3px solid #a2a295;
    border-radius: 10px;      
}

.choice_constr, .choice_paint{
	float: left;	
}


.choice_constr {
	
    display: block;
    width: 50%;
    height: 260px;
    position: relative;
	margin-left: 50px;
	margin-right: auto;
   
	top: 30px; 
    border: 3px solid #a2a295;
    border-radius: 10px;      
}

.namePaint, .nameConstr  {
    font-size: 24px;
}

.radiobatonPaint {
    width:25px;
     height:25px;
}
.radioLabel {   
    font-size: 150%;
}
.resultatName {
	font-size: 24px;
	display: block;
    width: 50%;
    height: 320px;
    position: relative;
	margin-left: 380px;
	margin-top: 330px;
	/*border: 3px solid #a2a295;
    border-radius: 10px;   */
}

.dataСalculation, .name {
	float: left;
	}

.dataСalculation {
	display: block;
	width: 180px;
    height: 400px;
	position: relative;
	left: 50px;
}
